@font-face {
    font-family: 'TiemposText';
    font-weight: normal;
    font-style: normal;

    src: url(http://bthdonohue.com/klim_fonts/fonts/tiempos/TiemposTextWeb-Regular.eot) format('embedded-opentype');
    src: url(http://bthdonohue.com/klim_fonts/fonts/tiempos/TiemposTextWeb-Regular.woff) format('woff');
}

@font-face {
    font-family: 'National';
    font-weight: lighter;
    font-style: normal;

    src: url(http://bthdonohue.com/klim_fonts/fonts/national/NationalWeb-Light.eot) format('embedded-opentype');
    src: url(http://bthdonohue.com/klim_fonts/fonts/national/NationalWeb-Light.woff) format('woff');
}

body {
    margin: 0;
    font-family: 'TiemposText', 'Georgia', sans-serif;
}

h1 {
    font-size: 30px;
    margin-bottom: 2px;
}

h3 {
    font-size: 26px;
    margin-bottom: 2px;
}

a, a:visited {
    color: #0074bf;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 a, h1 a:visited, h1 a:hover, h3 a, h3 a:visited, h3 a:hover {
    color: black;
    text-decoration: none;
}

twitter-widget {
    margin-left: auto;
    margin-right: auto;
}

pre {
    overflow: auto;
    word-break: break-word;
    word-wrap: break-word;
    white-space: pre-wrap;
    line-height: 1.4;
    font-size: 16px;
    background-color: rgb(240, 240, 240);
    padding: 15px 20px;
}

blockquote {
    font-style: italic;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

.container {
    overflow: hidden;
    width: 50%;
    height: 33vh;
    float: left;
}

.container a:hover {
	text-decoration: none;
}

.header .container:first-child {
    height: 34vh;
    border-bottom: 1px solid black;
}

.header .container:nth-child(2) {
    height: 34vh;
    border-bottom: 1px solid rgb(205, 205, 205);
}

.home, .post {
    margin: 50px 0px;
}

.post {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
}

h4 {
    font-size: 20px;
    font-weight: bold;
}

p {
    margin: 30px 0px;
}

p img {
    width: 100%;
}

.post-list .post p:last-of-type {
    margin-bottom: 10px;
}

figcaption {
    color: rgb(150, 150, 150);
    text-align: center;
    font-size: 14px;
    padding-bottom: 15px;
}

.fin {
    color: rgb(220, 220, 220);
    font-size: 30px;
    width:90%;
    text-align: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.post p, li {
    font-size: 20px;
    line-height: 1.7;
}

li {
    margin-top: 15px;
}

.home .post p, .home .post li {
    font-size: 18px;
}

.post-meta, p.post-meta {
    font-size: 14px;
    color: rgb(150, 150, 150);
	margin: 0;
}

.block {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
}

a.block {
    transition: all 200ms ease-out;
}

a.block:hover {
    transform: scale(1.1);
    transition: all 200ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

#avatar {
    background-image: url('../img/brian.png');
    background-color: black;
    background-size: inherit;
}

#info {
    background-color: white;
}

.text_container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    text-align: center;
}

.text {
    position: relative;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    padding-bottom: 20px;
}

.text div {
    padding: 0px 10px;
}

.name {
    font-size: 46px;
}

.tagline {
    font-size: 26px;
    font-family: 'National', 'HelveticaNeue-Light', 'Helvetica', sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
}

#recents {
    background-color: rgb(40, 128, 185);
    background-image: url('../img/recents.svg');
}

#alexa {
    background-color: black;
    background-image: url('../img/alexa.svg');
}

.alexa_container {
	width: 100%;
	margin-top: 30px;
}

.instagram_gradient {
    background: linear-gradient(#400080, transparent), 
                linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
}

#instagram {
    background-image: url('../img/instagram.svg');
}

#snapchat {
    background-color: yellow;
    background-image: url('../img/snapchat.svg');
}

#facebook {
    background-image: url('../img/facebook.svg');
    background-color: rgb(56,97,157);
}

#twitter {
    background-image: url('../img/twitter.svg');
    background-color: rgb(50, 170, 222);
}

#medium {
    background-image: url('../img/medium.svg');
    background-color: black;
}

#github {
    background-image: url('../img/github.svg');
    background-color: black;
}

#email {
    background-image: url('../img/gmail.svg');
    background-color: rgb(220, 71, 58);
}

#instapaper {
    background-image: url('../img/instapaper.svg');
    background-color: rgb(248, 242, 227);
}

.footer {
	max-width: 230px;
	margin: 80px auto 30px auto;
}

.footer a {
	display: inline-block;
	margin: 0px 10px;
	font-family: 'HelveticaNeue', 'Helvetica', sans-serif;
	color: rgb(150, 150, 150);
}

@media screen and (max-width: 768px) {
    .name {
        font-size: 38px;
    }

    .tagline {
        font-size: 22px;
    }

    .about {
        font-size: 22px;
        padding: 25px 30px;       
    }
}

@media screen and (max-width: 700px) {
    .post {
        margin-left: 30px;
        margin-right: 30px;
    }

    iframe {
        width: 100%;
    }
}

@media screen and (max-width: 535px) {
    .name {
        font-size: 26px;
    }

    .tagline {
        font-size: 14px;
    }

    .about {
        font-size: 18px;
        padding: 25px 25px;
    }
}
