<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="ethAddress" content="0x75D5D81DBab1e62A212b3D15191D0338288BC164">
    <meta name="ethTip" content=".005"/>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://bthdonohue.com/ethTip/ethtip.css"/>
    <link rel="stylesheet" href="/css/highlight.min.css">
    <link rel="stylesheet" href="/css/bigfoot.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <link rel="alternate" type="application/atom+xml" href="/feed.xml">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,9..60,400;0,9..60,600&family=Source+Sans+3:ital,wght@0,400;0,500;0,600;1,400&display=swap" rel="stylesheet">
    <script src="/js/jquery-1.11.0.min.js"></script>
    <script src="/js/bigfoot.min.js"></script>
    <script src="/js/highlight.min.js"></script>
    <script src="https://bthdonohue.com/ethTip/ethtip.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132555961-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-132555961-1');
        hljs.initHighlightingOnLoad();
        $.bigfoot();
    </script>
  </head>
  <body>
    <header class="site-header">
      <div class="site-header-inner">
        <a href="/" class="site-brand">
          <img src="/img/brian.png" alt="" class="site-avatar" width="40" height="40">
          <span class="site-name">Brian Donohue</span>
        </a>
        <nav class="site-nav">
          <a href="/">Blog</a>
          <a href="/about">About</a>
          <a href="/contact">Contact</a>
        </nav>
      </div>
    </header>
    <main class="site-main">
      {{ content }}
    </main>
    <footer class="site-footer">
      <div class="site-footer-inner">
        <a href="/">Blog</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
      </div>
    </footer>
    <button id="ethTip"></button>
  </body>
</html>
