<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/highlight.min.css">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <link rel="alternate" type="application/atom+xml" href="/feed.xml">
    <script src="/js/highlight.min.js">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132555961-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-132555961-1');
        hljs.initHighlightingOnLoad();
    </script>
  </head>
  <body>
    <div class="header clearfix">
        <div class="container">
            <a href="/" class="block" id="avatar"></a>
        </div>

        <div class="container">
            <a href="/about" class="block" id="info">
                <div class="text_container">
                    <div class="text">
                        <div class="name">Brian Donohue</div>
                        <div class="tagline">Makin&rsquo; that Instapaper</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div>
        {{ content }}
    </div>
  </body>
</html>
