---
layout: default
---

<div class="home">
  <div class="intro">
    {{ content }}
  </div>

  <h2 class="section-heading">Contact</h2>
  <ul class="writing-list">
    <li><a href="https://x.com/bthdonohue">Twitter / X</a></li>
    <li><a href="https://www.linkedin.com/in/bthdonohue/">LinkedIn</a></li>
    <li><a href="https://github.com/Donohue">GitHub</a></li>
  </ul>

  {%- if site.posts.size > 0 -%}
    <h2 class="section-heading">Writing</h2>
    <ul class="writing-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in site.posts -%}
      <li>
        <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
</div>
